* {
  padding: 0px;
  margin: 0px;
  border: 0px;
}

header {
  font-size: 3vh;
  background-color: darkblue;
  color: lightblue;
  text-align: center;
}
nav li {
  display: flex;
  justify-content: center;
}

.spelPlanen {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  grid-template-rows: repeat(8, 1fr);
  border: 1px black solid;
  margin: 10em;
}

.spelPlanen div
{

  border: 1px solid green;
  background-color: lime;

  width: 5vh;
  height: 5vh; 
}

.spelPlanen div :hover {
  background-color: black;
}


.topContainer{
display: flex;
flex-direction: column;
flex-wrap: wrap; /* fråga Sebastian varför den inte wrapar*/
}

.RulesText{
  display: flex;
    justify-content: space-around;

  margin-bottom: 50px;
  margin-top: 20px;
  
}
.Text{
   display: flex;
  flex-direction: column;
  justify-content: space-around;
  
}
.img-container{
width: 50%;



  border: 5px black solid;
}
.img-container img{
  width: 100%;
  height: 100%;
}

/*
.container1{
    display: flex;
    width: 50%;
    border: 5px black solid;
    
}

.textContainer{
  
    display: flex;
    font-size: 5vh;
    flex-direction: column;
   
    
    height: 55vh;
    width: 35vh;
}
.topContainer{
  display: flex;
justify-content: center;

}
.img{
  
    height: 55vh;
    width: 35vh;
    border: 5px black solid;
}
.container2{
  padding-top: 200px;
}
*/
footer {
  font-size: 2vh;
  background-color: darkblue;
  color: lightblue;
  text-align: center;
}
